<template>
  <div class="<%= data.lowerName %>"></div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    components: {},
    mixins: [],
    props: {},
    data() {
      return {}
    },
    created() {},
    mounted() {},
    computed: {},
    methods: {}
  }
</script>

<style lang="less" scoped>
  .<%= data.lowerName % > {
  }
</style>
